@import "../vars";

.now-playing {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: $image-width calc(
      #{$now-playing-width} - #{$image-width}
    );
  grid-template-rows: $image-height 1fr 1fr;
  grid-template-areas:
    "albumart songdata"
    "albumart songdata"
    "albumart songdata";
  background-color: #282c34;
  color: white;
}
.album-art {
  text-align: left;
  grid-area: albumart;
  img {
    width: $image-width;
    height: $image-height;
  }
}

.song-data {
  grid-area: songdata;
  width: 100%;
  display: grid;
  font-size: 0.8em;
  grid-template-rows: 36px 98px auto;
  grid-template-columns: $ms-width calc(100% - #{$ms-width * 2}) $ms-width;
  grid-template-areas:
    "songname songname songname"
    "artist artist artist"
    "currentms progressbar durationms";
}
.song-artist {
  padding-left: 16px;
  text-align: left;
  font-weight: bold;
  grid-area: artist;
  align-self: top;
}
.song-name {
  padding-left: 16px;
  text-align: left;
  align-self: center;
  grid-area: songname;
}
.song-progress-currentms {
  padding-left: 16px;
  text-align: center;
  grid-area: currentms;
  align-self: center;
}
.song-progress-progressbar {
  grid-area: progressbar;
  align-self: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
}
progress[value]::-webkit-progress-value {
  border-radius: 5px;
  background-color: rgb(197, 197, 197);
}
progress[value]::-webkit-progress-bar {
  border-radius: 5px;
  background-color: rgb(31, 34, 41);
}
.song-progress-durationms {
  text-align: left;
  grid-area: durationms;
  align-self: center;
}
