@import "./../vars";
@import "./../mixins";

.search {
  padding: 16px;
  grid-area: search;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 56px calc(100% - 48px - 56px);
}

.search-title {
  height: 48px;
  width: 100%;
  @include blend();
}

.search-bar {
  height: 48px;
  width: 100%;
}

.search-term {
  padding: 8px;
  display: block;
  height: 100%;
  width: 60%;
  align-self: center;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $text-color;
  font-size: 0.7em;
  @include blend();
}

.search-results {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.search-result-amount {
  font-weight: bold;
  font-size: 0.7em;
  padding-left: 16px;
  height: 24px;
  width: 100%;
  @include blend();
}

.search-result {
  height: 64px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 64px auto 128px;
  font-size: 0.6em;
  &:nth-child(even) {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
  grid-template-areas:
    "trackimage trackname options"
    "trackimage artist options";

  .search-result-img {
    height: 64px;
    grid-area: trackimage;
    align-self: center;
  }
  .track {
    grid-area: trackname;
    padding-left: 8px;
    align-self: center;
    @include blend();
  }
  .artist {
    grid-area: artist;
    font-weight: bold;
    padding-left: 8px;
    align-self: start;
    @include blend();
  }
  .options {
    grid-area: options;
    align-self: center;
    text-align: center;
    @include blend();
  }
}
