// "Now playing"
$image-width: 200px;
$image-height: $image-width;
$now-playing-height: $image-height;
$now-playing-width: 100%;
$ms-width: 60px;
// App
$app-height: 100vh;
$app-width: 100vw;
// Playlist
$playlist-item-height: 100px;
