@import "./vars";

.App {
  box-sizing: border-box;
  width: $app-width;
  height: $app-height;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: $now-playing-height 1fr 1fr 1fr;
  grid-template-areas:
    "nowplaying queue"
    "playlist queue"
    "playlist search"
    "playlist search"
    "playlist search"
}

.authorize-link {
  padding: 16px;
  color: white;
  text-decoration: none;
}
