@import "./vars";
@import "./mixins";

.App {
  transition: background-color 4s cubic-bezier(0.4, 0.0, 0.2, 1);
  box-sizing: border-box;
  width: $app-width;
  height: $app-height;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: $now-playing-height 1fr 1fr 1fr;
  grid-template-areas:
    "nowplaying queue"
    "playlist queue"
    "playlist search"
    "playlist search"
    "playlist search"
}

.authorize-link {
  padding: 16px;
  @include blend;
  text-decoration: none;
}
