@import "./vars";

* {
  box-sizing: border-box;
}

html {
  height: $app-height;
  width: $app-width;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: calc(10px + 2vmin);
  height: $app-height;
  width: $app-width;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  width: 100%;
  height: 100%;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
}
progress[value]::-webkit-progress-value {
  border-radius: 5px;
  background-color: rgb(197, 197, 197);
}
progress[value]::-webkit-progress-bar {
  border-radius: 5px;
  background-color: rgba(31, 34, 41, 0.534);
}
